body {
  font-family: 'lato', sans-serif !important;
}
 
 .form-control {
   border: none !important;
   border-bottom: 0.5px solid !important;
 }

 .table {
   margin: auto;
  font-family: 'lato', sans-serif;
  border-collapse: separate;
  border-radius:10px;
  overflow: hidden;
}

.table thead {
  background-color: #95A5A6;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table td {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}

.table td {
  border:none;
  padding: 8px;
  text-align:center;
}


#list{
  margin-top:5%;
  
}

/* #song_list tr:nth-child(even){background-color: #f2f2f2;}

#song_list tr:hover {background-color: #ddd;} */

textarea {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
}


.button-like {
	border: 2px solid #8a8a8a;
	background-color: transparent;
	text-decoration: none;
	padding: 1rem;
	position: relative;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	border-radius: 3rem;
	color: #8a8a8a;
	transition: all ease 0.4s;
  }
  
  .button-like span {
	margin-left: 0.5rem;
  }
  
  .button-like .fa,
  .button-like span {
	transition: all ease 0.4s;
  }
  
  .button-like:focus {
	background-color: transparent;
  }
  
  .button-like:focus .fa,
  .button-like:focus span {
	color: #8a8a8a;
  }
  
  .button-like:hover {
	border-color: #cc4b37;
	background-color: transparent;
  }
  
  .button-like:hover .fa,
  .button-like:hover span {
	color: #cc4b37;
  }
  
  .liked {
	background-color: #cc4b37;
	border-color: #cc4b37;
  }
  
  .liked .fa,
  .liked span {
	color: #fefefe;
  }
  
  .liked:focus {
	background-color: #cc4b37;
  }
  
  .liked:focus .fa,
  .liked:focus span {
	color: #fefefe;
  }
  
  .liked:hover {
	background-color: #cc4b37;
	border-color: #cc4b37;
  }
  
  .liked:hover .fa,
  .liked:hover span {
	color: #fefefe;
  }
  
  #search{
    margin-top: 1%;
    /* margin-left:10%; */
  }
  
  h1{
    margin-top:3% !important;
    text-align:center;
  }