<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>


      <div class="mx-auto w-50 p-3 text-center" id="list">
        <table class="table table-hover text-center" id="song_list">
          <thead>
            <tr>
              <td>Player</td>
              <td>Album</td>
              <td>Description (Clickable)</td>
              <td>Genre</td>
              <td>Duration</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
      </div>
      
          <!-- The Modal -->
          <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div id="player"></div>
                    <div class="scrollbar" id="style-3">
                    <textarea class="form-control" id="modalcont" name="reading_text" cols="500" rows="32" ></textarea>
                    </div>
                </div>
              </div>
            </div>

              <!-- The Modal -->
              <div class="modal" id="display">
                <div class="modal-dialog">
                  <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Modal Heading</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Description: </label>
                        <div class="col-sm-10">
                            <textarea class="form-control-plaintext rounded-0" id="bla" wrap="hard" cols="50" rows="12" readonly></textarea>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Album: </label>
                        <div class="col-sm-10">
                          <input type="text" readonly class="form-control-plaintext"   id="album">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Total View: </label>
                          <div class="col-sm-10">
                            <input type="text"readonly class="form-control-plaintext"  id="view">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-2 col-form-label">Total Plays: </label>
                          <div class="col-sm-10">
                            <input type="text" readonly class="form-control-plaintext"  id="play">
                          </div>  
                      </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                  </div>
                </div>
              
        <script>
        $(document).ready(function () {
        })
        var link,newlink;
          $('#list tbody').html("");
          $.ajax({
            url: '/playlist',
            type: 'GET',
            dataType: 'json',
            data: {
              artist : $('#artist').val()
            },
            success: function(data) {
              console.log('Win', data);
              var newmusic;
              for(var x =0; x<data.length; x++){
                var song_id = data[x][0].id;
                link = data[x][0].link;
                var min = data[x][0].duration;
                var pic = data[x][0].albumimage;
                var musicname = data[x][0].songname;
                var description = data[x][0].description;
                var album = data[x][0].album;
                var views = data[x][0].views;
                var totalplays = data[x][0].plays;
                newmusic = musicname.replace(/\s+/g, '%20');
                if(pic == null){
                  pic = "https://icon-library.net/images/image-error-icon/image-error-icon-4.jpg";
                }
                if(min == 0){
                  minutes = "Not Found";
                }
                else{
                var minutes=(min / 60000).toFixed(2) + " minutes";
                }
                var curdiv = $('#list tbody').html();
                var name = "<tr>\
                  <td style='display:none'><input id='song_id' type='hidden' value=''"+song_id+"''></td>\
                  <td><a onclick=chgSrc('"+link+"','"+x+"') class='round-button'><i class='fa fa-play fa-2x' id='playbtn' data-toggle='modal' data-target='#myModal'></i></a></td>\
                  <td><img src='"+pic+"' alt='Artist' width='50' height='50'></td>\
                  <td id='song' data-toggle='modal' data-target='#display' data-desc='"+description+"' data-alb='"+album+"' data-view='"+views+"' data-play='"+totalplays+"'>"+data[x][0].songname+"</td>\
                  <td>"+data[x][0].genre+"</td>\
                  <td>"+minutes+"</td>\
                  <td><button id='deletebtn' type='button' class='btn btn-danger' data-id = '"+song_id+"'>Delete</button></td></tr>}"
                $('#list tbody').html(curdiv + name);
                }
            },
            error: function(){
              alert("Artist Not Found");
            },
          });

        $(document).on("click", "#song", function () {
            var description = $(this).data('desc');
            console.log(description);
            var albums = $(this).data('alb');
            var view = $(this).data('view');
            var plays = $(this).data('play');
            $("#bla").val(description);
            $("#album").val(albums);
            $("#view").val(view);
            $("#play").val(plays);
        });  

        function chgSrc(link,x)
        {
          var newlink = link.replace('watch?v=' , 'embed/');
          document.getElementById("player").src =  newlink ;
          $.ajax({
            url: '/song_lyric',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function(data) {
              $('#modalcont').html(data[x]);
            },
            error: function(){
              console.log("Playlist Not Found");
            },
          });
        }
       

        // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
          player = new YT.Player('player', {
            height: '420',
            width: '700',
          });
        }
        $("#myModal").on("hidden.bs.modal", function () {
          console.log("close");
          $("#myModal iframe").attr("src", $("#myModal iframe").attr("src"));
        });   

        $(document).on("click", "#deletebtn", function () {
            var songid = $(this).data('id');
            if (confirm("Remove from playlist? ") == true) {
              $.ajax({
                url: '/delete_playlist',
                type: 'POST',
                dataType: 'json',
                data: {
                  id : songid
                },
                complete: function(data) {
                  console.log("Done");
                  location.reload();
                },
                error: function(){
                  console.log("Not Found");
                },
              });
            } else {
                  return false;
                 }
         
        });  

        </script>
</body>
</html>
